/* !!!!!! IMPORTAÇÕES !!!!!!*/

/* vietnamese */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/quicksand/v30/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkKEo58m-wi40.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/quicksand/v30/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkKEo58i-wi40.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/quicksand/v30/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkKEo58a-wg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/quicksand/v30/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o58m-wi40.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/quicksand/v30/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o58i-wi40.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/quicksand/v30/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o58a-wg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/quicksand/v30/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkM0o58m-wi40.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/quicksand/v30/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkM0o58i-wi40.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/quicksand/v30/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkM0o58a-wg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/quicksand/v30/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkCEv58m-wi40.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/quicksand/v30/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkCEv58i-wi40.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/quicksand/v30/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkCEv58a-wg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/quicksand/v30/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkBgv58m-wi40.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/quicksand/v30/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkBgv58i-wi40.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/quicksand/v30/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkBgv58a-wg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
/* ---------- Corpo da página ---------- */

body{
    margin: 15px;
    background-color: #404040;
    width: 1460px;
}
.flex-container{
    max-width: 800px;
    max-height: 2000px;
    display: flex;
}
.flex-container img{
    max-width: 400px;
    max-height: 400px;
    margin-left: 150px;
    margin-top: -80px;
}
.dir{
    margin-top: -40px;
    max-width: 720px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 18px;
}

.flex-container .dir #emailField{
    position: absolute;
    width: 362px;
    height: 60px;
    right: 910px;
    top: 160px;
    left: 150px;


    background: #292929;
    border: 2px solid #37D22A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    border-radius: 20px;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 38px;
}
.flex-container .dir #senhaField{
    position: absolute;
    width: 362px;
    height: 60px;
    right: 910px;
    top: 242px;
    left: 150px;

    background: #292929;
    border: 2px solid #37D22A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    border-radius: 20px;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 38px;
}


.box input{
    color: white;
    text-align:end;
    font-family: Quicksand;
    font-size: 15px;
}
.box ::placeholder{
    margin-right: 20px;
}
.dir .btentrar button{
    position: absolute;
    border: 2px solid #37D22A;
    background-color: #37D22A;
    color: white;
    border-radius: 15px;
    width: 200px;
    height: 50px;

    font-family: Quicksand;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 38px;
    

    margin-top: 40px;
    margin-left: 240px;
}
.dir .btentrar a{
  padding: 40%;
  margin-left: -10px;
  text-decoration: none;
  color: white;
}
.dir .btentrar button:active{
    background-color: #38d22a69;
    border-color: #38d22a69;
}
.dir .flex-btinfo{
    display: flex;
    flex-direction: column;
    margin-left: 265px;
}
.dir button{
    background-color: #404040; 
    border-style: none;
    color: white;
    font-family: Quicksand;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 38px;
}
.flex-container .esq img{
    position: absolute;
    max-width: 800px;
    width: 800px;
    max-height: 800px;
    height: 580px;
    left: 707px;
    top: 0px;
    
    box-shadow: 0px 3px 5px 0px #404040;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-left: -32px;
}

footer{
position:static;
width: 1460px;
height: 200px;
margin-top: 5px;

border-bottom: #404040;
background: linear-gradient(180deg, #404040 0%, rgba(0, 0, 0, 0.25) 100%);
box-shadow: 0px 3px 5px 0px #37D22A;

background: #404040;
}
footer img{
    width: 160px;
    height: 160px;
    margin-top: 35px;
    margin-left: 40px;
}
footer ul{
    list-style: none;
    margin-top: -150px;
    margin-left: 250px;
}
footer li{
    justify-content: left;
    color: white;
    font-family: Quicksand;
    margin-bottom: 10px;
}
footer li a{
    color: white;
    text-decoration: none;
}
footer .borda-footer{
    position: absolute;
    width: 1460px;
    height: 40px;
    left: 15px;

    background: linear-gradient(180deg, #37D22A 0%, rgba(55, 210, 42, 0.77) 100%);
}
footer .social-icons ul{
    display: flex;
    justify-content: end;
    margin-right: 40px
}
footer .social-icons img{
    width: 25px;
    height: 25px;
    border-radius: 20px;

}
footer .vector{
    position: absolute;
    width: 1440px;
    height: 0px;
    margin-top: 50px;
    margin-left: 9px;

    border: 1px solid #FFFFFF;
}
footer .vector p{
    color: white;
    font-family: Quicksand;
    font-size: 14px;
    margin-top: 8px;
    margin-left: 10px;
}

/* ----- CABEÇALHO ----- */

.cabecalho{
  position: absolute;
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 1460px;
  border-bottom: #404040;
  box-shadow: 0px 3px 5px 0px #37D22A;
  background: linear-gradient(180deg, #404040 0%, rgba(0, 0, 0, 0.25) 100%);
}
nav{
  position: absolute;
  width: 100%;
  height: 0;
  z-index: 999;
}
.cabecalho img{
  width: 200px;
  height: 200px;

  margin-left: 10px;
  margin-top: -50px;
}

.cabecalho .plataformas-logo ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}
.cabecalho .plataformas-logo ul li img{
  width: 60px;
  height: 60px;
  margin-top: 0px;
  border-style: solid;
  border-radius: 15px;
  border-color: #404040;

  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, #404040 0%, rgba(0, 0, 0, 0.25) 100%);
}
.cabecalho .plataformas-logo ul li img:hover{
  border-style: solid;
  border-color: #37D22A;
  transition: 500ms linear;
}
#xbox-icon{
  margin-left: 330px;
}
.cabecalho .campo-pesquisa{
  display: flex;
  flex-direction: row;
}
.cabecalho .campo-pesquisa img{
  width: 35px;
  height: 35px;
  margin-top: 3px;
  margin-left: -1px;
}
.cabecalho .campo-pesquisa input{
  width: 220px;
  height: 40px;
  border-radius: 50px;
  border-color: #37D22A;
  border-style: solid;
  margin-top: 25px;
  margin-left: 120px;
  background-color: #404040;
}
.cabecalho .campo-pesquisa button{
  background-color: #404040;
  border-radius: 25px;
  border-style: solid;
  width: 50px;
  height: 50px;
  border-color: #37D22A;
  margin-left: 5px;
}
.campo-pesquisa button:hover{
  background-color: #37D22A;
}
.cabecalho .barra-navegacao{
  display: flex;
  flex-direction: row;
  margin-left: 510px;
  margin-top: 100px;
}
.cabecalho{
  text-align: center;
}

.barra-navegacao button{
  background-color: #404040;
  color: #37D22A;
  padding: 20px;
  border: 2px solid;
  border-color: #404040;
  box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.25);
  width: 140px;
  font-family: Quicksand;
}
.barra-navegacao button:hover{
  transition: 500ms linear;
  border-color:#37D22A;
}

/*----- Home Page -----*/

.slider{
  margin: 0 auto;
  width: 1000px;
  height: 620px;
  overflow: hidden;
}
.slides{
  width: 300%;
  height: 520px;
  display: flex;
}
.slides input{
  display: none;
}
.slide{
  margin-top: 110px;
  width: 33.33%;
  transition: 1s;
}
.slide img{
  width: 1000px;
}
.manual-navigation{
  position: absolute;
  width: 1000px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.manual-btn{
  width: 20px;
  height: 20px;
  border: 2px solid #37D22A;
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.6s;
}
.manual-btn:not(:last-child){
  margin-right: 20px;
}
.manual-btn:hover{
   border-color: #404040;
   background-color: #37D22A;
}
#radio1:checked ~ .first{
  margin-left: 0;
}
#radio2:checked ~ .first{
  margin-left: -33.33%;
}
#radio3:checked ~ .first{
  margin-left: -66.66%;
}
.navigation-auto div{
  background-color: #404040;
  border: 2px solid #37D22A;
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.6s;
  width: 20px;
  height: 20px;
}
.navigation-auto{
  position: absolute;
  width: 1000px;
  margin-top: 570px;
  display: flex;
  justify-content: center;
}
.navigation-auto div:not(:last-child){
  margin-right: 20px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
  background-color: #37D22A;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
  background-color: #37D22A;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
  background-color: #37D22A;


/* CARROSSEL FIM DA HOME PAGE */

}
.carrossel-jogos h2{
  color: white;
  font-family: 'Quicksand';
  margin-top: 40px;
  margin-bottom: -70px;
  margin-left: 5px;
}

  /*!!!!! PRECISA ARRUMAR !!!!!*/
.carrossel-jogos{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.container-jogos{
  display: flex;
  position: relative;
}
.container-lancamentos{
  display: flex;
  margin-top: 100px;
  width: 284px;
  height: 160px;
}
.container-lancamentos:not(:last-child){
  margin-right: 15px;
}
.container-jogos img{
  width: 272px;
  height: 160px;
  border: 2px solid #404040;
  border-radius: 10px;
}
.container-jogos label{
  position: absolute;
  font-family: 'Quicksand';
  color: white;
  margin-top: 115px;
  background-color: #404040;
  padding: 4px;
  border-radius: 0px 10px 10px 0px;
}
.container-lancamentos:hover label{
  opacity: 40%;
  transition: 200ms linear;
  cursor: pointer;
}

.container-lancamentos:hover img{
  border-color: #37D22A;
  transition: 200ms linear;
  -webkit-filter: drop-shadow(0px 0px 10px rgba(0 0 0 / 90%)); 
  filter: drop-shadow(0px 0px 10px rgba(0 0 0 / 90%));
}
.container-lancamentos:hover{
  scale: 1.04;
  transition: 200ms;
  cursor: pointer;
}
button{
  cursor: pointer;
}
.container-teste{
  position: relative;
  padding: 15px;
  max-width: 640px;
  margin: 0 auto; 
}
.gallery-wrapper{
  overflow-x: auto;
}
.gallery{
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
}
.arrow-left, .arrow-right{
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  font-size: 20px;
  width: 40px;
  text-align: center;
  color: white;
  cursor: pointer;
  border: none;
  background: linear-gradient(to left, transparent 0%, #37D22A 200%);
  opacity: 10%;
  transition: all 600ms ease-in-out;
}
.arrow-right{
  left: auto;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, transparent 0%, #37D22A 200%);
}
.arrow-left:hover{
  opacity: 100%;
}
.arrow-right:hover{
  opacity: 100%;
}
.item{
  width: 250px;
  height: 250px;
  flex-shrink: 0;
  opacity: 0.6;
  transition: all 600ms ease-in-out;
}
.current-item{
  opacity: 1;
}
.gallery-wrapper::-webkit-scrollbar {
  display: none;
}
.gallery-wrapper{
  -ms-overflow-style: none;
  scrollbar-width: none;
}



/*----- Categorias -----*/
.categorias{
  display: flex;
  flex-direction:column;
  justify-content: center;
  margin-left: -50px;
}

.categorias img{
  margin-top: 200px;
  width: 359px;
  height: 250px;
  border: 2px solid #37D22A;
  border-radius: 20px;
}
.categorias ul{
  list-style: none;
  display: flex;
  margin-bottom: -100px;
  margin-left: 100px;
}
.categorias img:not(:last-child){
  margin-right: 90px;
}
.categorias img:hover{ 
  cursor: pointer;
  border-color: #404040;
  transition: 200ms;
}

.cat label{
  background: linear-gradient(to right, rgb(0, 0, 0), transparent);
  position: absolute;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 11px;
  display: flex;
  margin-left: 2px;
  margin-top: -46px;
  color: #FFFFFF;
  font-family: 'Quicksand';
  width: 240px;
}

/* ----- CARRINHO ----- */
.container-carrinho{
  display: flex;
}
.carrinho h1{
  margin-left: 40%;
}
.carrinho{
  font-family: 'Quicksand';
  color: white;
  margin-top: 180px;
  margin-left: 2%;
  width: 780px;
  height: 1000px;
  border: 2px solid #37D22A;
}
.carrinho img{
  width: 300px;
  margin-left: 20px;
}
 #preco-carrinho{
  position: absolute;
  margin-left: 20px;
  margin-top: 120px;
  background-color: #37D22A;
  border: 10px solid #37D22A;
  border-radius: 0px 10px 10px 0px;
}
#promo-carrinho{
  position: absolute;
  margin-left: 20px;
  margin-top: 82px;
  background-color: #404040;
  border: 10px solid #404040;
  border-radius: 0px 10px 10px 0px;
}
.carrinho .box-carrinho{
  display: flex;
}
.carrinho .box-carrinho h2{
  font-size: 19px;
  margin-left: 20px;
}
.carrinho .box-carrinho p{
  margin-top: 20px;
  font-size: 15px;
  margin-left: 20px;
}
.carrinho .box-carrinho button{
  background-color: #37D22A;
  font-family: 'Quicksand';
  color: white;
  border-style: none;
  padding: 10px;
  margin-left: 330px;
  margin-top: 20px; 
}
.carrinho .box-carrinho button:active{
  background-color: #38d22a69;
  transition: 200ms;
}
 .vetor{
  position: absolute;
  width: 780px;
  background-color: black;
  height: 1px;
  margin-top: 200px;
}
.box-carrinho:not(:last-child){
  margin-bottom: 80px;
}
.box-pagamento{
  width: 500px;
  height: 1000px;
  border: 2px solid #37D22A;
  margin-top: 180px;
  margin-left: 100px;
  text-align: center;
}
.pagamento h1{
  font-family: 'Quicksand';
  color: white;
}
.formas div:not(:last-child){
  margin-bottom: 80px;
}
.formas{
  display: flex;
  flex-direction: column;
}
.formas{
  display: flex;
}
.pix img{
  width: 60px;
  background-color: #37D22A;
  border: 2px solid #37D22A;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 20px;
}
.pix button{
  background-color: #37D22A;
  color: white;
  font-family: 'Quicksand';
  padding-left: 100px;
  padding-right:100px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  border: 2px solid black;
  font-size: 18px;
}
.pix{
  display: flex;
}
.vetor-pagamento{
  position: absolute;
  width: 500px;
  background-color: black;
  height: 1px;
  margin-top: 140px;
}
.boleto img{
  width: 60px;
  background-color: #37D22A;
  border: 2px solid #37D22A;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 20px;
}
.boleto button{
  background-color: #37D22A;
  color: white;
  font-family: 'Quicksand';
  padding-left: 85px;
  padding-right:85px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  border: 2px solid black;
  font-size: 18px;
}
.boleto{
  display: flex;
}
.cartao img{
  width: 60px;
  background-color: #37D22A;
  border: 2px solid #37D22A;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 20px;
}
.cartao button{
  background-color: #37D22A;
  color: white;
  font-family: 'Quicksand';
  padding-left: 85px;
  padding-right:85px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  border: 2px solid black;
  font-size: 18px;
}
.cartao{
  display: flex;
}
.pagamento button:active{
  background-color: #38d22a69;
  transition: 200ms;
}
.preco-carrinho{
  margin-top: 340px;
  box-shadow: inset 0px 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.jogo-carrinho{
  display: flex;
}
.jogo-carrinho:not(:last-child){
  margin-bottom: 2px;
}
.jogo-carrinho p{
  color: white;
  font-family: 'Quicksand';  
}
.barra-carrinho{
  position: absolute;
  width: 500px;
  background-color: #37D22A;
}
.preco-total h2{
  text-align: left;
  margin-top: 15px;
  margin-left: 5px;
}
.preco-total p{
  text-align: right;
  margin-left: 290px;
  margin-top: 20px;
}
.preco-total{
  margin-top: -10px;
  display: flex;
  font-family: 'Quicksand';
  color: white;
}
/* ----- PROMOÇÕES ----- */
.container-ofertas{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.container-ofertas h3{
  margin-left: 20px;
  border-left: 10px solid #37D22A;
  position: absolute;
  width: 200px;
  color: white;
  font-family: 'Quicksand';
  margin-top: -40px;
  margin-bottom: -200px;
  padding-left: 10px;
}
.semana{
  display: flex;
  position: relative;
  margin-top: 240px;
}
#label1 label{
  position: absolute;
  color: white;
  text-align:justify;
  margin-left: -230px;
  margin-top: 120px;
  cursor: pointer;
}

.promocao{
  justify-content: center;
  cursor: pointer;
  margin-left: 50px;
}
.label-semana{
  padding-bottom: 2px; 
  padding-left: 10px; 
  padding-right: 10px;
  transition: 200ms;
  font-family: 'Quicksand';
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.semana img{
  width: 284px;
  height: 160px;
  border: 2px solid #37D22A;
  border-radius: 20px;
}
.semana img:not(:last-child){
  margin-right: 20px;
}
.semana .promocao:hover{
  scale: 1.04;
  transition: 200ms linear;
}
.semana .promocao:hover img{
  -webkit-filter: drop-shadow(0px 0px 10px rgba(0 0 0 / 90%)); 
  filter: drop-shadow(0px 0px 10px rgba(0 0 0 / 90%));
}
#label1:hover label{
  opacity: 40%;
}
.semana .label-promocoes .desconto{
  border-left: 6px solid #37D22A;
  border-top: 2px solid #37D22A;
  border-right: 2px solid #37D22A;
  border-bottom: 2px solid #37D22A;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #37D22A;
  padding-right: 10px;
}
.kits{
  display: flex;
  position: relative;
  margin-top: 80px;
}
.kits img{
  width: 284px;
  height: 160px;
  border: 2px solid #37D22A;
  border-radius: 20px;
}
.kits img:not(:last-child){
  margin-right: 20px;
}
.kits .promocao:hover{
  scale: 1.04;
  transition: 200ms linear;
}
.kits .promocao:hover img{
  -webkit-filter: drop-shadow(0px 0px 10px rgba(0 0 0 / 90%)); 
  filter: drop-shadow(0px 0px 10px rgba(0 0 0 / 90%));
}
.kits .label-promocoes .desconto{
  border-left: 6px solid #37D22A;
  border-top: 2px solid #37D22A;
  border-right: 2px solid #37D22A;
  border-bottom: 2px solid #37D22A;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #37D22A;
  padding-right: 10px;
}
.pre-venda{
  margin-bottom: 100px;
}
.pre-venda{
  display: flex;
  position: relative;
  margin-top: 80px;
}
.pre-venda img{
  width: 284px;
  height: 160px;
  border: 2px solid #37D22A;
  border-radius: 20px;
}
.pre-venda img:not(:last-child){
  margin-right: 20px;
}
.pre-venda .promocao:hover{
  scale: 1.04;
  transition: 200ms linear;
}
.pre-venda .promocao:hover img{
  -webkit-filter: drop-shadow(0px 0px 10px rgba(0 0 0 / 90%)); 
  filter: drop-shadow(0px 0px 10px rgba(0 0 0 / 90%));
}
.pre-venda .label-promocoes .desconto{
  border-left: 6px solid #37D22A;
  border-top: 2px solid #37D22A;
  border-right: 2px solid #37D22A;
  border-bottom: 2px solid #37D22A;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #37D22A;
  padding-right: 10px;
}
.desconto{
  font-family: 'Quicksand';
}

/*----- PAGINA DE JOGO -----*/

.pag-jogos .img-fundo img{
  margin-top: 110px;
  width: 1420px;
  margin-left: 20px;
  filter: blur(2px);
  height: 400px;
}

.info-jogo{
  position: absolute;
  margin-top: -290px;
}
.info-jogo h1{
  position: absolute;
  color: white;
  font-family: 'Quicksand';
  margin-left: 80px;
  margin-top: -40px;
  font-size: 20px;
  background-color: #404040;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  border: 2px solid #38d22a69;
}
.info-jogo img{
  width: 700px;
  border-radius: 20px;
  margin-left: 80px;
}
.info-jogo #jogo{
  border: 1.5px solid #404040;
}
.info-jogo .preco{
  position: absolute;
  border-radius: 10px;
  border: 2px solid #37D22A;
  font-family: 'Quicksand';
  background-color: #37D22A; 
  width: 200px;
  height: 50px;
  color: white;
  font-size: 20px;
  margin-top: 2px;
  margin-left: 80px;
}
.info-jogo button:hover{
  border-color: #404040;
  transition: 200ms;
}
.info-jogo button:active{
  background-color: #38d22a69;
  transition: 200ms;
}
.info-jogo button img{
  margin-top: 2px;
  margin-left: -3.5px;
  width: 40px;
}
.info-jogo #btnfav img{
  margin-top: 5px;
  margin-left: -2.6px;
}
.info-jogo button{
  margin-top: 2px;
  margin-left: 300px;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color:#37D22A;
  border: 2px solid #37D22A;
  border-radius: 50px;
}
.info-jogo .box{
  width: 500px;
  font-family: 'Quicksand';
  background:linear-gradient(180deg, #404040 0%, rgba(0, 0, 0, 0.25) 100%);
  box-shadow: 0px 0px 3px 3px #37D22A;
  padding: 10px;
  position:relative;
  margin-left: 860px;
  margin-top: -333px;
}
.info-jogo .box p{
  text-align:justify;
  color: white;
  
}
#img-platforms{
  width: 20px;
  margin-left: -3px;
  margin-top: 20px;
  opacity: 50%;
}
.info-jogo .box p #img-platforms:not(:last-child){
  margin-right: 20px;
}
.info-jogo .box label{
  position: relative;
  color: #37D22A;
  
}
.avaliacoes{
  display: flex;
  
}
.container-dlc{
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}
.container-dlc .block{
  width: 1400px;
  margin-left: 30px;
  box-shadow: 0px 0px 3px 3px #37D22A;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.container-dlc .block h2{
  margin-left: 10px;
  color: white;
  font-family: 'Quicksand';

}
.container-dlc .block p{
  font-family: 'Quicksand';
  background-color: #404040;
  margin-left: 10px;
  color: white;
  margin-top: -10px;
  width: 1000px;
}
.container-dlc .block .button{
  position: absolute;
  margin-left: 75%;
  margin-top: 30px;  

}
.container-dlc .block .button button{
  width: 100px;
  background-color: #37D22A;
  border-radius: 10px;
  border: 2px solid #37D22A;
}
.container-dlc .block .button button:active{
  background-color: #38d22a69;
}
.container-dlc .block .button button:hover{
  border-color: #404040;
  transition: 200ms;
}
.container-dlc .block .button button:not(:last-child){
  margin-right: 20px;
}
.container-requisitos{
  display: flex;
}
.minimo{
  margin-left: 30px;
  width: 650px;
}
.requi h2{
  margin-left: 20px;
  color: white;
  font-family: 'Quicksand';
}
.requi ul li{
  margin-top: 10px;
  color: white;
  font-family: 'Quicksand';
}
.requi{
  box-shadow: 0px 0px 2px 2px #37D22A;
  margin-bottom: 20px;
}
.recomendado{
  margin-left: 100px;
  width: 650px;

}
.video_de_exibicao{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.video_de_exibicao iframe{
  border: solid #37D22A;
  width: 89%;
  height: 500px;
}

/*----- PERFIL -----*/
.container-perfil{
  display: flex;
  height: auto;
  flex-direction: column;
  text-align: center;
}

.info-perfil h1{
  margin-top: 200px;
  font-family: 'Quicksand';
  color: white;
}
.foto-perfil{
  width: 260px;
  margin-left: 600px;

}
.info-perfil #foto-perfil{
border: 2px solid #37D22A;
border-radius: 100px;
width: 260px;
}
.alterar-foto img{
  width: 100px;
  height: 100px;
  margin-bottom: -20px;
}
.alterar-foto{
  position: absolute;
  margin-left: 32px;
  margin-top: -170px;
  opacity: 0%;
  border-radius: 100px;
  width: 200px;
  text-align: center;

}
.alterar-foto p{
  background-color: #292929;
  border-radius: 10px;
}
.foto-perfil:hover .alterar-foto{
  opacity: 100%;
  transition: 300ms;
}
.info-perfil p{
  color: white;
  font-family: 'Quicksand';
}
.info-perfil h2{
  margin-right: 60%;
  color: white;
  font-family: 'Quicksand';
}
.info-perfil h2:not(:last-child){
  margin-top: 20px;
}
.info-perfil .label-perfil label{
  font-size: 20px;
  font-family: 'Quicksand';
  color: white;
  margin-left: -400px;
}
.label-perfil{
  width: 900px;
  background-color: #292929;
  box-shadow:inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 20%;
  border-radius: 5px;
}
.label-perfil #senha-perfil{
  font-family: 'Quicksand';
  margin-left: -650px;
}
.container-plataformas-perfil{
  display: flex;
  margin-left: 600px;
  margin-top: 10px;
}
.container-plataformas-perfil img{
  width: 40px;
}
.container-plataformas-perfil img:not(:last-child){
  margin-right: 30px;
}
.container-perfil .btn-perfil button{
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Quicksand';
  color: white;
  background-color: #292929;
  border-radius: 10px;
  border-color: #38d22a69;
  padding: 10px;
  border: 2px solid #38d22a69;
}
.btn-perfil button:hover{
  border: 2px solid #37D22A;
  transition: 300ms;
}
.label-perfil .line{
  position: absolute;
  width: 900px;
  height: 5px;
  background-color: #37D22A;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/*----- LISTA DE DESEJOS -----*/


.container-lista-desejos{
  display: flex;
  justify-content: center;
}
.bloco-jogos{
  margin-top: 200px;
  border: 2px solid #37D22A;
  height: auto;
  width: 1000px;
  text-align: center;
  margin-bottom: 10px;
}
.bloco-jogos h1{
  margin-top: 20px;
  color: white;
  font-family: 'Quicksand';
}
.barra-desejos{
  position: absolute;
  width: auto;
  height: 2px;
  background-color: black;
}
.desejos-jogos{
  display: flex;
  flex-direction: column;
}
.jogo-desejado{
  display: flex;
}
.jogo-desejado:not(:last-child){
  margin-bottom: 40px;
}
.flex-desejado{
  display: flex;
  flex-direction: column;
  
}
.jogo-desejado h2{
  color: white;
  font-family: 'Quicksand';
  font-size: 20px;
  margin-left: -40px;
}
.jogo-desejado p{
  color: white;
  font-family: 'Quicksand';
  margin-left: 40px;
  margin-top: 0px;
}
.jogo-desejado img{
  width: 300px;
  margin-left: 40px;
  border: 2px solid #404040;
}
#img-jogo-desejado:hover{
  opacity: 70%;
  border: 2px solid #38d22a69;
  transition: 300ms;
  cursor: pointer;
}
.jogo-desejado #img-platforms{
  margin-top: 10px;
  margin-right: 520px;
}
.jogo-desejado #img-platforms:not(:last-child){
  margin-left: 530px;
  margin-right: 10px;
}

.flex-plataforma{
  display: flex;
  margin-left: -490px;
}
#preco{
  color: #37D22A;
}
#preco button{
  background-color: #37D22A;
  font-family: 'Quicksand';
  color: white;
  border-style: none;
  width: 80px;
  height: 30px;
  margin-top: -5px;
}
#preco button:not(:last-child){
  margin-left: 310px;
}
#preco button:hover{
  background-color: #38d22a69;
  transition: 300ms;
}
.separa-desejo{
  position: absolute;
  width: 1000px;
  height: 2px;
  background-color: #38d22a69;
  margin-left: -344px;
  margin-top: 200px;
}



































/*----- RESPONSIVIDADE -----*/

@media  screen and (max-width: 768px) {
  body{
    width: 768px;
  }
  .cabecalho{
    width: 738px;
  }
  .cabecalho img{
    width: 120px;
    height: 120px;
    margin-top: -10px;
  }
  .cabecalho .plataformas-logo ul li img{
    display: none;
  }
  .campo-pesquisa{
    margin-left: 100px;
    margin-top: 10px;
  }
  .cabecalho .campo-pesquisa input{
    width: 130px;
    height: 30px;
  }
  .cabecalho .campo-pesquisa button{
    width: 40px;
    height: 40px;
  }
  .cabecalho .campo-pesquisa img{
    width: 20px;
    height: 20px;
  }
  .slider{
    margin-left: 0px;
    max-width: 738px;
  }
  .slider img{
    width: 768px;
  }
  .barra-navegacao{
    width: 100px;
  }
  .barra-navegacao button{
    width: 140px;
    height: 60px;
  }
 nav{
  margin-left: -350px;
 }
  .carrossel-jogos{
    margin-top: -120px;
  }
  .auto-btn1{
    margin-left: -250px;
    margin-top: -120px;
  }
  .auto-btn2{
    margin-left: -10px;
    margin-top: -120px;

  }
  .auto-btn3{
    margin-left: -10px;
    margin-top: -120px;

  }
  .manual-btn{
    margin-top: -120px;
    margin-left: -10px;
  }
  .manual-navigation{
    margin-left: -120px;
  }
  .carrossel-jogos{
    margin-top: -80px;
  }
  .container-jogos{
    display: inline-block;
    max-width: 768px;
  }
  .container-lancamentos:not(:last-child){
    margin-bottom: -80px;
  }
  .container-pre-venda{
    position: absolute;
    margin-left: 465px;
    margin-top: -990px;
  }
  footer{
    width: 738px;
  }
  footer .borda-footer{
    width: 738px;
  }
  footer .vector{
    width: 720px;
  }
  footer img{
    margin-top: 35px;
    margin-left: 20px;
  }
  footer ul{
    margin-left: 180px;
  }



  /*----- PROMOCOES RESPONSIVAS -----*/
  .semana{
    display: flex;
    overflow-x: auto;
    padding-top: 40px;
    margin-top: 200px;
  }
  .kits{
    display: flex;
    overflow-x: auto;
    padding-top: 40px;
    margin-top: 20px;
  }
  .pre-venda{
    display: flex;
    overflow-x: auto;
    padding-top: 40px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  body{
    max-width: 412px;
  }
  .cabecalho{
    width: 390px;
  }
  .cabecalho img{
    width: 100px;
    height: 100px;
    margin-top: 0px;
  }
  .cabecalho .plataformas-logo ul li img{
    display: none;
    height: 15px;
    width: 15px;
    margin-left: -110px;
    margin-top: 24px;
  }
  .cabecalho .plataformas-logo ul li:not(:last-child){
    margin-right: 30px;
  }
  #xbox-icon{
    margin-right: 40px;
    margin-left: -20px;
  }
  .campo-pesquisa{
    margin-left: -140px;
  }
  .cabecalho .campo-pesquisa input{
    width: 80px;
    height: 20px
  }
  .slider img{
    width: 390px;
  }
  .manual-btn{
    display: none;
  }
  .carrossel-jogos{
    margin-top: -300px;
  }
}